# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Версии каталога
.DS_Store
Thumbs.db

# Билд-артефакты и папки
dist/
build/

# Лог-файлы
*.log

# Конфигурационные файлы среды
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Кеширование и временные файлы
.cache/
.tmp/

# IDE и редакторы
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Webpack
webpack-stats.json

# Babel
.cache/
